{% load staticfiles%}
{% load carton_tags %}
{% get_cart as cart %}%}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contactanos</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/navStyle.css' %}">
		{% block css %}
    {% endblock %}
	</head>

	<body>

		<header>

			<!--Barra de navegacion-->

			<nav class="navbar navbar-default navbar-fixed-top navbar">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class"navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
						<span class="sr-only">Menú</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a href="/ " class="navbar-brand" style="color:white">Libreria Carmesí</a>
					</div>

					<div class="collapse navbar-collapse" id="navbar-1">
						<ul class="nav navbar-nav">
							<!--Posibles categorias-->

						</ul>
						{% if error %}
              					  <p style="color: red;">Por favor introduce un término de búsqueda.</p>
            					{% endif %}
						<form action="/buscar/" class="navbar-form navbar-right" method="get" rolse="search">
							<div class="form-group">
								<a href="/show">
									<button type="button" class="btn btn-primary" name="boton">Ver carrito
											<div  class="glyphicon glyphicon-shopping-cart">
									<span class="badge">{{cart.count}}
									</span>

									</div>
								</button>
							</a>

							<input type"text" class="form-control" placeholder="Buscar libro..." name="q">
						<input type="submit" class="btn btn-primary" value="Buscar">
							</div>
						</form>
					</div>
				</div>
			</nav>

			<!--Termina barra de navegación-->


				<!--Inician botones con hover-->
				<a href="/ ">
					<div class ="contenedor" id="uno">
						<img class="icono" src={% static 'img/nav/icon1.png' %}>
						<p class="navtexto">Inicio</p>
					</div>
				</a>
				<a href="/libros">
					<div class ="contenedor" id="dos">
						<img class="icono" src={% static 'img/nav/icon2.png' %}>
						<p class="navtexto">Libros</p>
					</div>
				</a>
			<!--
			<div class ="contenedor" id="tres">
				<img class="icono" src="img/nav/icon3.png">
				<p class="navtexto">Google +</p>
			</div>
			<div class ="contenedor" id="cuatro">
				<img class="icono" src="img/nav/icon4.png">
				<p class="navtexto">Apple</p>
			</div>
		-->
		<a href="/ubicacion">
			<div class ="contenedor" id="cinco">
				<img class="icono" src={% static 'img/nav/icon5.png'%}>
				<p class="navtexto">Ubicación</p>
			</div>
		</a>

		<a href="/contactos">
			<div class ="contenedor" id="seis">
				<img class="icono" src={% static 'img/nav/icon6.png' %}>
				<p class="navtexto">Contactanos</p>
			</div>
		</a>
			<!--Terminan botones con hover-->




		</header>

		<!--Migas de pan-->
		<div class="container-fluid">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li class="active" style="color:white">Contactanos</li>
				</ol>

			</div>
		</div>
		<!--Terminan migas de pan-->
	<div class="contenido">

		<h4 style="text-align:center">Para enviarnos un mensaje llena el siguiente formulario:</br></h4>
		{% if errors %}
		<ul>
		{% for error in errors %}
			 <li>{{ error }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		<div class="container">
			<form action="/contactos/" method="post" class="form-horizontal">{% csrf_token %}

				<div class="form-group">
					<label for="nombre" class="control-label col-md-2">Nombre:</label>
					<div class="col-md-10">
						<input class="form-control" id="nombre" type="text" name="nombre" value="{{ nombre }}"  placeholder="Ingrese su nombre.">
				</div>

				</div>
				<div class="form-group">
					<label for="asunto" class="control-label col-md-2">Asunto:</label>
					<div class="col-md-10">
						<input class="form-control" name="asunto" value="{{ asunto }}"  type="text" placeholder="Ingrese un asunto.">
					</div>

				</div>


				<div class="form-group">
					<label for="email" class="control-label col-md-2">Email:</label>
					<div class="col-md-10">
						<input class="form-control" type="text"  name="email" value="{{ email }}" placeholder="Ingrese su email.">
					</div>

				</div>


				<div class="form-group">
					<label for="mensaje" class="control-label col-md-2">Mensaje:</label>
					<div class="col-md-10">
						<textarea name="mensaje" rows="10" cols="50" class="form-control" placeholder="Ingrese su mensaje." value="{{ mensaje }}"></textarea></p>  <input type="submit" value="Enviar" class="btn btn-primary"></textarea>

					</div>

				</div>
				<!--<div class="form-group">
					<div class="col-md-2 col-md-offset-2">
						<button class="btn btn-primary">Enviar</button>
					</div>
				</div>-->



			</form>
		</div>

	</div>



		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/bootstrap.js"></script>





		<footer class="text-center" >
		    <div class="footer-info">
		        <div class="container">
		            <div class="row">
		                <div class="footer-col col-md-4">
		                    <h3 class="textfooter" style="color:white" >Misión</h3>
		                    <p style="text-align:justify; color:white"  >Poner a disposición la alta gama de libros en detalle a nuestros visitantes para que se interesen en un libro y continuen desarrollando su habito de lectura.</p>
		                </div>
		                <div class="footer-col col-md-4">
		                    <h3 class="textfooter" style="color:white" >Libreria Carmesi</h3>
		                    <p style="text-align: justify; color: white"  >es la mejor libreria de El Salvador.</p>
		                </div>
		                <div class="footer-col col-md-4">
		                    <h3 class="textfooter" style="color:white">Visión</h3>
		                    <p style="text-align:justify; color:white">Ser una empresa que contribuya al retorno del habito por la lectura.</p>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="footer-derechos">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12">
		                    Copyright © Libreria Carmesí
		                </div>
		            </div>
		        </div>
		    </div>
		</footer>
	</body>

</html>
